<div class="container">
  <header class="ui inverted fixed menu">
    <a href="/" class="item">
      Home
    </a>
    <a href="/contribute" class="item">
      Contribute
    </a>
    <a href="/contact" class="item">
      Contacts
    </a>
    <a href="https://blog.myigboname.com" target="_blank" class="item">
     Blog
    </a>
    
  </header>
</div>
<script>
$(document).ready(function(){
   $('.ui.dropdown').dropdown();
})
</script>
