<div class="ui vertical menu">
  <a  href="/admin/" class="active teal item">
    All Entries
  
  </a>
  <a  href="/admin/new" class="item">
    New entry
   
  </a>
  <a href="/admin/approvals" class="item">
    Approvals
   
  </a>
  
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
  </div>
</div>