<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact | The Afamefuna Project</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80337204-3');
  </script>

  <script type='text/javascript'
    src='//platform-api.sharethis.com/js/sharethis.js#property=5ce85cbcaf7d000012cb0c83&product=sticky-share-buttons'
    async='async'></script>

</head>

<body>
  <%- include("./shared/header")%>
  <br>
  <br>
  <br>
    <h1>Contact us</h1>
<div class="ui four column centered grid">
  <div class="column">
   

    <div class="ui big form">

      <div class="field">
        <label>Email</label>
        <input type="text" placeholder="Email">
      </div>

      <div class="field">
        <label>Subject</label>
        <input type="text" placeholder="Subject">
      </div>
      <div class="field">

        <label>Text</label>
        <textarea></textarea>
      </div>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input type="text" placeholder="First Name">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" placeholder="Last Name">
        </div>
      </div>
      <div class="field">
       <button class="ui button"> Submit</button>       
      </div>
    </div>

  
  </div>
 
 </div>
  <div>
  
  </div>

  <div class="sharethis-inline-share-buttons"></div>
</body>
<script>

  $(document).ready(function (params) {
    $('.ui.search')
      .search({
        apiSettings: {
          url: '/search/{query}',
          minCharacters: 3,
          type: 'category',
          onResponse: function (data) {
            //console.log(data)
            var
              response = {
                results: []
              };

            $.each(data.results, function (index, item) {
              var
                id = item.name || 'Unknown', maxResults = 8;
              if (index >= maxResults) {
                return false;
              }


              // add result to category
              response.results.push({
                title: item.name,
                url: `/entries/${item.name}`
              });

            })
            console.log(response)
            return response;
          }

        }

      })

  })



</script>
<style>
  .app-header {
    min-height: 260px
  }
</style>

</html>