<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact | The Afamefuna Project</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80337204-3');
  </script>

</head>

<body>
  <%- include("./shared/header")%>
  <br>
  <br>
  <br>
  <div class="ui stackable column centered grid" style="height: 95vh">
    <div class="seven wide column ">
      <div class="ui centered column grid">
        <div class="fourteen wide mobile nine wide computer column">
          <br>
          <br>
  <%if(success) {%>
  <div class="ui positive message">
  
  <div class="header">
    Your message has been recieved
  </div>
  <p> We would revert back to you as soon as possible</p>
</div>

<%}%>
<%if(success == false) {%>
  <div class="ui error message">
  
  <div class="header">
    Incomplete form
  </div>
  <p> Please fill in all appropriate field</p>
</div>

<%}%>

          <h2 style="text-align: center">Send us a Message</h2>
          <br>
          <br>
          <form class="ui big form" method="POST" action="/contact">

            <div class="field">
              <input type="text" name="email" placeholder="Email">
            </div>

            <div class="field">

              <input type="text" name="subject" placeholder="Subject">
            </div>
            <div class="field">

              <textarea name="message" placeholder="message"></textarea>
            </div>
            <div class="two fields">
              <div class="field">

                <input type="text" name="fname" placeholder="First name">
              </div>
              <div class="field">

                <input type="text" name="lname" placeholder="Last name">
              </div>
            </div>
            <br>
            <br>
            <div class="field">
              <button class="ui button primary fluid"> Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="four wide column" style="background-color: #fff;">

      <div class="ui centered column grid">
        <div class="twelve wide mobile six wide computer column">
          <div class="social center">
            <a href="https://www.facebook.com/afamefunaproject" class="ui circular facebook icon button">
              <i class="facebook icon"></i>
            </a>
            <a href="https://www.twitter.com/myigboname" class="ui circular twitter icon button">
              <i class="twitter icon"></i>
            </a>

          </div>


          <div class="contact-card">
            <p><i class="icon envelope outline"></i> General Inquiry</p>
            <span>info@myigboname.com</span>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
<script>

  $(document).ready(function (params) {

  })



</script>
<style>
  .app-header {
    min-height: 260px
  }
</style>

</html>