<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contribute | The Afamefuna Project</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
   <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5ce85cbcaf7d000012cb0c83&product=sticky-share-buttons' async='async'></script>
 
</head>

<body>
  <%- include("./shared/header")%>
  <div class="app-header">
    <div class="ui fluid container">
      <div class="padding55">
        <div class="ui text container">
         <p class="ui tagline">Over 1000 entries yet & counting</p>
          <div class="ui fluid search ">
            <div class="ui icon big input">
              <input class="prompt" type="text" placeholder="Search names...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>


          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="ui two column centered grid">
    <div class="six wide column " style="margin:20px auto; padding: 35px 20px 48px;">
      <h2 style="text-align:center">Contribute<h2>
          <form class="ui form" method="POST" action="/contribute">
            <div class="required field">
              <label>Suggested Name</label>
              <div class="field">
                <input type="text" name="name" placeholder="First Name" value="<%=name%>" required>
            </div>
          </div>
          <div class="required field">
                <label>Meaning</label>
                <div class="field">
                  <textarea name="meaning" required>

              </textarea>
                </div>
              </div>
              <div class="required field">
                <label>Email (Provide email for feedback when entry is added)</label>
                <div class="field">
                  <input type="text" name="email" placeholder="Email" required>
                </div>
              </div>

              <button class="ui primary button">
                Submit
              </button>
          </form>

    </div>
  </div>
<div class="sharethis-inline-share-buttons"></div>
</body>
<script>

  $(document).ready(function (params) {

    $('.ui.search')
      .search({
        apiSettings: {
          url: '/search/{query}',
          minCharacters: 3,
          type: 'category',
          onResponse: function (data) {
            //console.log(data)
            var
              response = {
                results: []
              };

            $.each(data.results, function (index, item) {
              var
                id = item.name || 'Unknown', maxResults = 8;
              if (index >= maxResults) {
                return false;
              }


              // add result to category
              response.results.push({
                title: item.name,
                url: `/entries/${item.name}`
              });

            })
            console.log(response)
            return response;
          }

        }

      })

  })



</script>
<style>
  .app-header {
    min-height: 260px
  }
</style>
</html>