<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <script type='text/javascript'
    src='//platform-api.sharethis.com/js/sharethis.js#property=5ce85cbcaf7d000012cb0c83&product=sticky-share-buttons'
    async='async'></script>

  <title>The Afamefuna Project</title>
  <script>

    $(document).ready(function (params) {
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
      $('.ui.search')
        .search({
          apiSettings: {
            url: 'search/{query}',
            minCharacters: 3,
            type: 'category',
            onResponse: function (data) {
              //console.log(data)
              var
                response = {
                  results: []
                };

              $.each(data.results, function (index, item) {
                var
                  id = item.name || 'Unknown', maxResults = 8;
                if (index >= maxResults) {
                  return false;
                }


                // add result to category
                response.results.push({
                  title: item.name,
                  url: `/entries/${item.name}`
                });

              })
              console.log(response)
              return response;
            }

          }

        })

    })



  </script>
</head>

<body>
  <%- include("./shared/header")%>

  <div class="app-header">
    <div class="ui fluid container">
      <div class="padding180">

        <div class="ui text container">
          <p class="ui huge header">WELCOME TO THE AFAMEFUNA PROJECT</p>
          <p class="ui tagline">Over 1000 entries yet & counting</p>
          <div class="ui fluid search ">
            <div class="ui icon big input">
              <input class="prompt" type="text" placeholder="Search names...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>


          <br />
          <p class="tagline">
            Whatever dialect of the Igbo Language you speak, you can find your name here,
            we are interested in learning what your name means, and we can help you find the meaning.
            Use the 'Contribute' section freely to improve community experience.
          </p>

        </div>
      </div>
    </div>
  </div>
  </div>
  <%if(message.length > 1){ %>
  <div class="ui info message transition">
    <i class="close icon"></i>
    <div class="header">
      Message!
    </div>
    <%=message%>
  </div>

  <%}%>

     <div class="sharethis-inline-share-buttons"></div>
</body>

</html>