<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@myigboname" />
  <meta property="og:url" content="http://www.myigboname.com/" />
  <meta property="og:title" content="The Afamefuna Project" />
  <meta property="og:description" content="Whatever dialect of the Igbo Language you speak, you can find your name here. We are interested in learning what your name means or we can help you find the meaning." />
  <meta property="og:image" content="http://myigboname.com/assets/site-image.png" />

  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80337204-3');
</script>

  <script type='text/javascript'
    src='//platform-api.sharethis.com/js/sharethis.js#property=5ce85cbcaf7d000012cb0c83&product=sticky-share-buttons'
    async='async'></script>

  <title>The Afamefuna Project</title>
  <script>

    $(document).ready(function (params) {

     
     
      $('.ui.search')
        .search({
          apiSettings: {
            url: 'search/{query}',
            minCharacters: 2,
            type: 'category',
            onResponse: function (data) {
              //console.log(data)
              var
                response = {
                  results: []
                };

              $.each(data.results, function (index, item) {
                var
                  id = item.name || 'Unknown', maxResults = 100;
                if (index >= maxResults) {
                  return false;
                }


                // add result to category
                response.results.push({
                  title: item.name,
                  url: `/entries/${item.name}`
                });

              })
             
              return response;
            }

          }

        })

    })



  </script>
</head>

<body>
  <%- include("./shared/header")%>

  <div class="app-header">
    <div class="ui fluid container">
      <div class="padding">

        <div class="ui text container">
          <p class="ui huge header">WELCOME TO THE AFAMEFUNA PROJECT</p>
          <p class="ui tagline">Over 1000 entries yet & counting</p>
          <div class="ui fluid search ">
            <div class="ui icon big input">
              <input class="prompt" type="text" placeholder="Search names...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>


          <br />
          <p class="tagline">
            Whatever dialect of the Igbo Language you speak, you can find your name here.
            We are interested in learning what your name means or we can help you find the meaning.
            Use the 'Contribute' section freely to improve community experience.
          </p>

        </div>
      </div>
    </div>
  </div>
  </div>

     <div class="sharethis-inline-share-buttons"></div>
</body>

</html>