<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin | The Afamefuna Project</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
</head>

<body>
    <br>
    <br>
    <br>
    <div class="ui column centered grid">
        <div class="column" style="width: 350px; margin:70px auto; ">
        <h2 style="text-align:center">Signin<h2>
            <form class="ui form" method="POST" action="/signin">
                <div class="field">
                    <label>Username</label>
                    <div class="field">
                        <input type="text" name="username" placeholder="First Name">
                    </div>
                </div>
              
                <div class="field">
                    <label>Password</label>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button class="ui fluid primary button">
                    Login
                </button>
            </form>

        </div>
    </div>

</body>

</html>