<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Migrate</title>
</head>
<body>
    <form class="ui form" method="POST" action="/migrate">
        
        <button class="ui primary button">
            Migrate record
        </button>
    </form>
</body>
</html>